$colors: (
  white: #fff,
  grey: #707070,
  darkGrey: #666,
  blue: #0071bc,
  lightBlue: rgba(0, 113, 188, 0.35),
  black: #1a1818,
  lightBlack: rgba(0, 0, 0, 0.55),
  lighterBlack: rgba(0, 0, 0, 0.2)
);

@function Color($color) {
  @return map-get($colors, $color);
}

body {
  font-family: "Raleway", sans-serif;
}
* {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}

nav {
  background-color: Color(white);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  box-shadow: 0px 5px 10px Color(lighterBlack);
  height: 100px;
  .container {
    display: flex;
    justify-content: flex-end;
  }
  ul {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    li {
      font-size: 25px;
      padding: 35px 15px;
      height: 30px;
      a {
        color: Color(grey);
        font-weight: bold;
      }
      a:hover {
        color: Color(blue);
        text-decoration: none;
      }
      a.active {
        color: Color(blue);
      }
    }
  }
}

section#Portfolio {
  padding-top: 100px;
  height: 470px;
  overflow: hidden;
  position: relative;
  #all {
    .LoadMore {
      padding: 10px 15px;
      background-color: Color(darkGrey);
      color: white;
      font-weight: bold;
      position: absolute;
      bottom: 1px;
      left: 50%;
      font-family: "corbel";
    }
  }

  ul.nav {
    // list-style-type: none;

    // display: flex;
    // flex-direction: row;
    li {
      font-size: 25px;
      padding: 35px 15px;
      height: 30px;
      a {
        color: Color(grey);
        font-weight: bold;
      }
      a:hover {
        color: Color(blue);
        text-decoration: none;
      }
      a.active {
        color: Color(blue);
      }
    }
  }
  .holder {
    padding: 10px 40px;
    z-index: 0;
    .projectCard {
      height: 250px;
      background-color: rgba(0, 153, 204, 0.041);
      border: 1px solid Color(black);
      overflow: hidden;
      img {
        height: 100%;
      }
      .Layover {
        position: relative;
        height: 100%;
        top: 100%;
        right: 100%;
        background-color: Color(lightBlue);
        a {
          width: 100%;
          height: 100%;
        }
        .projectData {
          position: absolute;
          bottom: 10px;
          left: 15px;
          label {
            display: block;
          }
          .projectName {
            font-weight: bold;
            color: white;
            padding: 0px;
            margin: 0px;
          }
          .category {
            color: Color(blue);
            margin: 0;
            padding: 0;
          }
        }
        .projectDate {
          position: absolute;
          bottom: 10px;
          right: 15px;
          label {
            color: Color(blue);
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    .projectCard:hover .Layover {
      top: -100%;
      right: 0%;
    }
    .projectCard:hover {
      border: 1px solid Color(blue);
    }
  }
}
.bg-blue {
  background-color: Color(blue);
  color: white;
}
section#CV {
  height: 100vh;
  padding-top: 50px;
  overflow: hidden;
  .items-holder {
    width: 90%;
    .item {
      margin-bottom: 60px;
      ul {
        li {
          font-size: 17px;
        }
      }
      ul.double-list {
        li {
          width: 50%;
          float: left;
        }
      }
    }
  }
  .side {
    height: 100vh;
    margin-right: -15px;
    box-shadow: 15px 10px 0px 0px Color(black);
    .profile-image {
      border-radius: 50%;
      overflow: hidden;
      width: 175px;
      height: 175px;
    }
    .Name {
      text-align: center;
      h2 {
        color: white;
        font-weight: 700;
        text-align: center;
      }
    }
    .items-holder {
      width: 90%;
      .item {
        margin-bottom: 10px;
        ul {
          list-style-type: square;
          li {
            font-size: 13px;
          }
        }
      }
    }
  }
  .side::after {
    content: "";
    position: absolute;
    background-color: Color(darkGrey);
    width: 100px;
    height: 100vh;
    right: -30px;
    top: 20px;
    z-index: -2;
  }
  .title {
    background-color: white;
    color: black;
    position: relative;
    font-size: 18px;
    text-align: center;
    padding-top: 3px;
    border-radius: 1.5em;
    height: 1.7em;
    .title-circle {
      background-color: Color(black);
      border-radius: 50%;
      width: 1.7em;
      height: 1.7em;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .title-lg-dark {
    background-color: Black;
    color: white;
    position: relative;
    font-size: 20px;
    height: 1.5em;
    border-radius: 30px;
    text-align: center;
    .title-circle {
      background-color: Color(blue);
      border-radius: 50%;
      width: 1.5em;
      height: 1.5em;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
